@model RegistrationManagmentSimplified.Models.Formando

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formando</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telemovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidadeDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidadeDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Niss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Niss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoConclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstabelecimentoEnino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstabelecimentoEnino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emprego)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emprego)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaProff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaProff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioProff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioProff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FimProff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FimProff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Morada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Morada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodPostal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concelho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concelho.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitacoes.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidade.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naturalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naturalidade.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subsidio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subsidio.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocumento.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
